@media screen and (max-width: 1600px) {
	.header-wrapper {
    	width: 95%;
	}
}

@media screen and (max-width: 1368px) {
	.item {
    	width: 20%;
	}
}

@media screen and (max-width: 1248px) {
	.item {
    	height: 440px;
	}
}

@media screen and (max-width: 1152px) {
	.h1-wrapper > span {
		line-height: 60px;
	}
}

@media screen and (max-width: 1024px) {
	.top-btn-eyedissabilities {
		font-size: 0;
		padding: 15px 15px;
	}

	.top-btn-eyedissabilities > img {
    	margin-right: 0;
	}

	.item {
    	width: 45%;
    	height: 380px;
	}

	.banner {
    	height: 1070px;
	}
}

@media screen and (max-width: 860px) {
	.h1-wrapper > span {
		font-size: 26px;
		line-height: 30px;
	}

	.item-questions-mobile {
		display: flex;
	}

	.item-questions-mobile > a {
		display: flex;
		width: 140px;
	}
}

@media screen and (max-width: 800px) {
	.navbar > ul > li {
    	font: 20px 'Calibri', sans-serif;
	}
}

@media screen and (max-width: 680px) {
	.banner {
    	height: 1030px;
	}

	.item {
    	height: 420px;
	}
}

@media screen and (max-width: 568px) {
	.item {
    	width: 95%;
    	height: 270px;
	}
	.item:hover {
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-o-border-radius: 12px;
	}
	.banner {
    	height: 1350px;
	}

	header {
		height: 80px;
	}	
	.menubutton {
		display: block;
	}
	.menu {
		display: none;
		position: absolute;
    	left: 0;
    	width: 100%;
    	background: #fff;
	}
	.menu-index {
		top: 131px;
	}

	.navbar > ul {
		display: block;
		margin-top: 0;
	}
	.menu > ul > li {
		width: 100%;
		height: 40px;
		border-bottom: 1px solid #000000;
		margin-left: 0;
		margin-top: 10px;
	}
	.menu > ul > li > a {
		margin-left: 20px;
		vertical-align: middle;
	}
	.outher-wrapper {
		justify-content: space-between;
	}
	.inner-wrapper {
		width: 15%;
	}
	.h1-wrapper > h1 {
		font-size: 56px;
	}
	.item {
		height: 290px;
	}
	.image {
		float: left;
		margin-right: 20px;
	}
	.item-text {
		margin-top: 45px;
	}
}

@media screen and (max-width: 414px) {
	.banner {
		height: 1300px;
	}

	.inner-wrapper {
    	width: 18%;
	}
	.h1-wrapper > h1 {
    	font-size: 32px;
	}
	.h1-wrapper > span {
    	font-size: 22px;
    	line-height: 24px;
    	width: 90%;
    	margin-top: 0;
	}
	.item {
		height: 270px;
	}
	.item > a > h2 {
    	font: 22px 'Calibri', sans-serif;
    	line-height: 26px;
    	font-weight: 900;
	}
	.item-text {
   		margin-top: 25px;
	}
	.green-btn {
    	height: 75px;
    	padding-top: 20px;
	}
	.footer-h3 {
		font-weight: 600;
    	font-size: 28px;
    	line-height: 34px;
	}
	.signs-wrapper {
    	margin-top: 25px;
	}
	.item-questions-mobile > a {
		display: flex;
		width: 60px;
	}
	.map-question {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	.banner {
    	height: 1470px;
    }
	.inner-wrapper {
    	width: 20%;
	}
	.green-btn {
    	width: 320px;
    	font-size: 34px;
	}
	.item {
	   	height: 300px;	
	   	width: 85%; 
	   	margin: 20px auto 0;
    	padding: 5%;  	
	}
	.image {
    	padding-bottom: 17px;
	}
	.item-text {
   		margin-top: 30px;
	}
}

@media screen and (max-width: 320px) {
	.banner {
    	height: 1490px;
    }
	.inner-wrapper {
    	width: 23%;
	}
	.green-btn {
    	width: 288px;
    	height: 65px;
    	margin-top: 16px;
    	font-size: 30px;
	}
	.item {
	   	height: 320px;	
	}
}


